<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    -->
    <connectionStrings>
      <add name="LocalSqlServer" connectionString="Data Source=P3NWPLSK12SQL-v03.shr.prod.phx3.secureserver.net;Initial Catalog=sunshine;User ID=pbsunshi;Password=Mulder@1979" providerName="System.Data.SqlClient" />
      <add name="SunshineConnectionString" connectionString="Data Source=P3NWPLSK12SQL-v03.shr.prod.phx3.secureserver.net;Initial Catalog=sunshine;User ID=pbsunshi;Password=Mulder@1979" providerName="System.Data.SqlClient" />

    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="Partyband Sunshine &lt;andre@pb-sunshine.nl&gt;">
        <network host="relay-hosting.secureserver.net"/>
      </smtp>
      <!--
      <smtp deliveryMethod="Network" from="Andre Mulder &lt;andre.mulder@gmail.com&gt;">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="andre.mulder@gmail.com" password="HomestudioMulder@1979" />
      </smtp>
      -->
      <!--
      <smtp from="Andre Mulder &lt;andre@pb-sunshine.nl&gt;">
        <network defaultCredentials="false" host="74.124.24.4" port="587" userName="andre@pb-sunshine.nl" password="Homestudio@1979" />
      </smtp>
      -->
      <!--
        <smtp from="localhost">
          <network host="74.124.24.19" port="587" />
        </smtp>
        -->
    </mailSettings>
  </system.net>
</configuration>